.super-card {
    width: 100%;
    height: 70vh;
    margin-top: 20px;
    align-items: center;
}

.super-card-img, 
.super-card-img img {
    width: 800px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.super-card-img h2 {margin-top: 20px;}

.super-card-text {margin-left: 40px;}

.super-card-text p + p {margin-top: 1em;}

.card-group { margin-bottom: 40px; }

.card {
    max-width: 250px;
    min-height: 50px;
    border-radius: 3px;
    margin: 10px;
    background: #E87724;
    opacity: 0.9;
    box-shadow: 5px 5px 5px 0px rgba(148, 141, 141, 0.15);
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card:hover { box-shadow: 30px 30px 5px 0px rgba(0, 0, 0, .15); }

.card-img { padding: 1em; }

.img-body,
.img-body img {
    width: 200px;
    display: table;
    margin: 0 auto; 
    border-radius: 50%;
}

.card-body { padding: 1em; }
.card-body p {
    color: white;
    text-align: center;
}

.card-body p + p { margin-top: .5em;}

.card-button {
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1em;
    background-color: #1C5A6B;
    opacity: 0.9;
    display: flex;
    justify-content: center;

}

.card-button button {
    width: 108px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to right bottom, #E87724, #bf5f1b, #1C5A6B);
    opacity: 0.9;
    color:white;
    font-size: 1.2em;
    text-transform: capitalize;
    transition: all .3s ease-in-out;

}

.card-button button:hover {
    cursor: pointer;
    opacity: .75;
}

.card-button a:hover {
    background-color: #1C5A6B   ;
    opacity: 0.9;
    color: white;
}

.calculadora {
    display: flex;
    width: 25%;
}

.portfolio {background-color: #FFF; width: 100%;}

.entrada {
    padding: 15px;
    border-radius: 3px ;
    text-align: center; 
}

.card-button texto_area {
    padding: 15px;
    margin-top: 1cm;
    border-radius: 3px;
    text-align: center;
 }